[user]
	name = rafael-almeida
	email = rafael.almeida@example.com
[core]
	editor = vim
[init]
	defaultBranch = main
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[push]
	autoSetupRemote = true
